
    @import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  margin: 0;
  z-index: 1;
  padding: 0;
  position: absolute;
  background-color: rgba(240, 255, 0,1);
  overflow:hidden;
}

@font-face {
    font-family: "myfont";
    src: url("arrows.woff") format('woff');
}
.arrow {
    font-family: myfont;
    font-size: 4vh;
    color: rgba(0, 0, 0,.6);
    display: inline;
}

.arrowlegend {
    font-family: myfont;
    font-size: 3vh;
    color: rgba(0, 0, 0,.6);
    display: inline;
}

.textlegend {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  color: rgba(0, 0, 0,.6);
}

canvas{
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -3;

}
fieldset {
  font-family: 'Montserrat', sans-serif;
  border: 0;
  margin-top: 10vh;
  width: 100vw;
  padding: 0;
  text-align: center;
  font-size: 5vh;
  color: rgba(0, 0, 0,.6);
  float: inherit;

  text-align: center;
  display:block;
}
